<div class="container mt-5">
  <h3>Зміни які сталися щодо локаціі : </h3>

  <p>Для прикладу на цій сторінці виводяться дві зміни статикою.</p>

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Дата</th>
      <th scope="col">Поле</th>
      <th scope="col">Старе значення</th>
      <th scope="col">Нове значення</th>
    </tr>
    </thead>
    <tbody>
    <!--
    <tr *ngFor="let location of (locationList | async); let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>16.05.2022</td>
      <td>Область</td>
      <td>Дніпропетровська</td>
      <td>Дніпропетровська область</td>
    </tr>
-->

    <tr>
      <th scope="row">1</th>
      <td>15.05.2022</td>
      <td>Область</td>
      <td>Дніпр</td>
      <td>Дніпропетровська</td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>16.05.2022</td>
      <td>Область</td>
      <td>Дніпропетровська</td>
      <td>Дніпропетровська область</td>
    </tr>


    </tbody>
  </table>
</div>
