<div class="container mt-5">

  <h2>Локації</h2>

  <div
    style="height: 100%; flex-direction: row; box-sizing: border-box; display: flex; place-content: center space-around; align-items: center;">


    <div>
      <mat-form-field appearance="fill">
        <mat-label>Введіть діапазон дат</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Дата початку">
          <input matEndDate placeholder="Дата закінчення">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <div>
      <mat-checkbox class="example-margin">Тільки локації зі змінами</mat-checkbox>
    </div>

  </div>

  <br>

  <mat-paginator [length]="locCount"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="handlePageEvent($event)"
                 aria-label="Select page">
  </mat-paginator>

  <div class="table-responsive">
    <table class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead class="thead-dark">
      <tr>
        <th class="mdl-data-table__cell--non-numeric align-middle text-center" scope="col">#</th>
        <th class="mdl-data-table__cell--non-numeric align-middle text-center" scope="col">Назва</th>
        <th class="mdl-data-table__cell--non-numeric align-middle text-center" scope="col">Основний телефон</th>
        <th class="mdl-data-table__cell--non-numeric align-middle text-center" scope="col">Список додаткових телефонів</th>
        <th class="mdl-data-table__cell--non-numeric align-middle text-center" scope="col">Область</th>
        <th class="mdl-data-table__cell--non-numeric align-middle text-center" scope="col">Індекс</th>
        <th class="mdl-data-table__cell--non-numeric align-middle text-center" scope="col">Місто</th>
        <th class="mdl-data-table__cell--non-numeric align-middle text-center" scope="col">Адреса</th>
        <th class="mdl-data-table__cell--non-numeric align-middle text-center" scope="col">Подивитись на мапі</th>
        <th class="mdl-data-table__cell--non-numeric align-middle text-center" scope="col">К-сть зафіксованих змін</th>
        <th class="mdl-data-table__cell--non-numeric align-middle text-center" scope="col">Перейти</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let location of (locationList | async); let i = index">

        <td class="mdl-data-table__cell--non-numeric" scope="row">{{ i + 1 }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ location.title }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ location.primaryPhone }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ location.additionalPhones }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ location.administrativeArea }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ location.postalCode }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ location.locality }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ location.addressLines }}</td>
        <td class="mdl-data-table__cell--non-numeric text-center"><a target="_blank" href="{{ location.mapsUri }}">На мапі</a></td>
        <!-- TODO -->
        <td class="mdl-data-table__cell--non-numeric" style="color:red; text-align: center">{{location.historyModelCount}}</td>
        <td class="mdl-data-table__cell--non-numeric"><a
          routerLink="../locations/{{ location.name }}"
          routerLinkActive="active"

          [routerLinkActiveOptions]="{exact: true}">
          <button _ngcontent-wei-c1="" class="btn btn-primary" type="submit">Перейти</button>
        </a></td>
      </tr>
      </tbody>
    </table>
  </div>

  <mat-paginator [length]="locCount | async"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="handlePageEvent($event)"
                 aria-label="Select page">
  </mat-paginator>

</div>
