<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3 mb-3">Вітаю!</h1>
      <p class="pl-1">
        Я твій ГМБ-шпигун)<br>
        Я створений, щоб твої локації на Картах Google, завжди були під наглядом і не розбігалися.
        Щоб відслідковувати зміни, які відбулися з  точками твого бізнесу, переходь у розділ Локації.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
<!--        <h2>Heading</h2>-->
        <img style="height:50px;" class="l-logo" src="/assets/img/1.jpg">
        <p class="mt-2">
            Нова Пошта - це найкрупніша логістична компанія в Україні, що надає послуги експрес-доставки документів, вантажів та посилок.
        </p>
      </div>
      <div class="col-md-4">
<!--        <h2>Heading</h2>-->
        <img style="height:50px;" src="/assets/img/2.jpg">
        <p class="mt-2">
          Google My Business – це сервіс, в якому ви розміщуєте інформацію про компанію для користувачів пошукової системи та навігатора Google Maps.
        </p>
      </div>
      <div class="col-md-4">
<!--        <h2>Heading</h2>-->
        <img style="height:50px;" src="/assets/img/3.svg">
        <p class="mt-2">
          Google Maps – це комплекс програм, створених на базі безкоштовного сервісу картографії та технології, що використовується Google.
        </p>
      </div>
    </div>
  </div>
  <hr>
</main>
